body {
		margin: 0px;
		background: #e3e3e3;
		line-height: 1.4em;
		font-size: 0.875em;
		font-family: verdana, arial, sans-serif
	}

	#LeftBorder {
		margin-left: 10px;
		background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAZAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQICAgICAgICAgICAwMDAwMDAwMDAwEBAQEBAQECAQECAgIBAgIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMD/8AAEQgAAQAKAwERAAIRAQMRAf/EAaIAAAAGAgMBAAAAAAAAAAAAAAcIBgUECQMKAgEACwEAAAYDAQEBAAAAAAAAAAAABgUEAwcCCAEJAAoLEAACAQMEAQMDAgMDAwIGCXUBAgMEEQUSBiEHEyIACDEUQTIjFQlRQhZhJDMXUnGBGGKRJUOhsfAmNHIKGcHRNSfhUzaC8ZKiRFRzRUY3R2MoVVZXGrLC0uLyZIN0k4Rlo7PD0+MpOGbzdSo5OkhJSlhZWmdoaWp2d3h5eoWGh4iJipSVlpeYmZqkpaanqKmqtLW2t7i5usTFxsfIycrU1dbX2Nna5OXm5+jp6vT19vf4+foRAAIBAwIEBAMFBAQEBgYFbQECAxEEIRIFMQYAIhNBUQcyYRRxCEKBI5EVUqFiFjMJsSTB0UNy8BfhgjQlklMYY0TxorImNRlUNkVkJwpzg5NGdMLS4vJVZXVWN4SFo7PD0+PzKRqUpLTE1OT0laW1xdXl9ShHV2Y4doaWprbG1ub2Z3eHl6e3x9fn90hYaHiImKi4yNjo+DlJWWl5iZmpucnZ6fkqOkpaanqKmqq6ytrq+v/aAAwDAQACEQMRAD8A2Yvl/wD8y8f/AJY1Pv3XutdX/wC2B7917r//2Q==)repeat-y
	}

	#RightBorder {
		margin-right: 10px;
		background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAZAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQICAgICAgICAgICAwMDAwMDAwMDAwEBAQEBAQECAQECAgIBAgIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMD/8AAEQgAAQAKAwERAAIRAQMRAf/EAaIAAAAGAgMBAAAAAAAAAAAAAAcIBgUECQMKAgEACwEAAAYDAQEBAAAAAAAAAAAABgUEAwcCCAEJAAoLEAACAQMEAQMDAgMDAwIGCXUBAgMEEQUSBiEHEyIACDEUQTIjFQlRQhZhJDMXUnGBGGKRJUOhsfAmNHIKGcHRNSfhUzaC8ZKiRFRzRUY3R2MoVVZXGrLC0uLyZIN0k4Rlo7PD0+MpOGbzdSo5OkhJSlhZWmdoaWp2d3h5eoWGh4iJipSVlpeYmZqkpaanqKmqtLW2t7i5usTFxsfIycrU1dbX2Nna5OXm5+jp6vT19vf4+foRAAIBAwIEBAMFBAQEBgYFbQECAxEEIRIFMQYAIhNBUQcyYRRxCEKBI5EVUqFiFjMJsSTB0UNy8BfhgjQlklMYY0TxorImNRlUNkVkJwpzg5NGdMLS4vJVZXVWN4SFo7PD0+PzKRqUpLTE1OT0laW1xdXl9ShHV2Y4doaWprbG1ub2Z3eHl6e3x9fn90hYaHiImKi4yNjo+DlJWWl5iZmpucnZ6fkqOkpaanqKmqq6ytrq+v/aAAwDAQACEQMRAD8Auq/l1/8AALH/APUKn/Wr37r3Vt3v3Xuv/9k=)repeat-y;
		background-position: right top
	}

	#ContentArea {
		margin: 0px 10px 0px 10px;
		background: #ffffff;
		overflow: hidden
	}

	#Footer {
		clear: both;
		padding: 6px 0px 6px 0px;
		background: #5698cc url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAZAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQICAgICAgICAgICAwMDAwMDAwMDAwEBAQEBAQECAQECAgIBAgIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMD/8AAEQgAIgABAwERAAIRAQMRAf/EAaIAAAAGAgMBAAAAAAAAAAAAAAcIBgUECQMKAgEACwEAAAYDAQEBAAAAAAAAAAAABgUEAwcCCAEJAAoLEAACAQMEAQMDAgMDAwIGCXUBAgMEEQUSBiEHEyIACDEUQTIjFQlRQhZhJDMXUnGBGGKRJUOhsfAmNHIKGcHRNSfhUzaC8ZKiRFRzRUY3R2MoVVZXGrLC0uLyZIN0k4Rlo7PD0+MpOGbzdSo5OkhJSlhZWmdoaWp2d3h5eoWGh4iJipSVlpeYmZqkpaanqKmqtLW2t7i5usTFxsfIycrU1dbX2Nna5OXm5+jp6vT19vf4+foRAAIBAwIEBAMFBAQEBgYFbQECAxEEIRIFMQYAIhNBUQcyYRRxCEKBI5EVUqFiFjMJsSTB0UNy8BfhgjQlklMYY0TxorImNRlUNkVkJwpzg5NGdMLS4vJVZXVWN4SFo7PD0+PzKRqUpLTE1OT0laW1xdXl9ShHV2Y4doaWprbG1ub2Z3eHl6e3x9fn90hYaHiImKi4yNjo+DlJWWl5iZmpucnZ6fkqOkpaanqKmqq6ytrq+v/aAAwDAQACEQMRAD8ADb+GZD/lYqf/ADpl/wCvvvoh4I9F653+M38XQ6/wBP8AUH/kn2a+H8+i3xh8+p38Wi/qn+8/8V971jqvg/PoCP7zP/qj/wAlN/xX2h8Uev8ALpfoHr0gf+pntL0u6//Z)repeat-x;
		font-family: verdana, arial, sans-serif;
		font-size: 0.9em;
		color: #ffffff;
		text-align: center
	}

	h1 {
		padding-top: 10px;
		font-size: 1.5em;
		font-weight: 500;
		color: #000000;
		font-style: normal;
		margin: 24px 0px 15px 0px
	}

	.mainheading {
		font-size: 1.6rem;
		line-height: 1.6rem;
		font-weight: 500;
		color: #446898;
		margin-top: -20px;
		margin-bottom: 24px
	}

	h2 {
		font-size: 1.3em;
		font-weight: 500;
		font-style: normal;
		margin-top: 24px
	}

	h3 {
		font-size: 1.2em;
		font-weight: 500;
		margin-top: 18px
	}

	h4 {
		font-size: 1.1em;
		font-weight: 500;
		font-style: italic;
		margin-top: 14px;
		margin-bottom: -3px
	}

	h5 {
		font-size: 1.0em;
		font-weight: bold;
		margin-top: 12px;
		margin-bottom: -3px
	}

	.level1 {
		margin-left: 0px;
		padding-left: 0px
	}

	ol.level2 {
		margin: 0;
		padding: 0;
		margin-left: 20px
	}

	ol.level3 {
		margin: 0;
		padding: 0;
		margin-left: 30px
	}

	ol.level4 {
		margin: 0;
		padding: 0;
		margin-left: 40px
	}

	ol li {
		padding-bottom: 9px
	}

	ul li {
		margin-left: 0px;
		padding-left: 0px;
		padding-bottom: 9px
	}

	li {
		font-size: 1.0em;
		font-family: inherit
	}

	ol.spacious-list li {
		margin-bottom: 9px
	}

	.figure {
		display: block;
		width: 80%;
		min-width: 250px;
		max-width: 650px;
		margin: auto;
		padding-right: 5%
	}

	.figureCaptionCell {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 6px;
		text-align: center;
		font-style: italic;
		font-size: 0.9em
	}

	.purplenumberFigure,
	.purplenumberFigure a,
	.purplenumberFigure a:link,
	.purplenumberFigure a:visited,
	.purplenumberFigure a:hover,
	.purplenumberFigure a:active {
		font-family: verdana, arial, sans-serif;
		color: #C8A8FF;
		font-size: 0.9em;
		font-weight: bold;
		font-style: normal;
		text-transform: lowercase;
		text-decoration: none;
		display: block;
		float: right;
		position: relative;
		margin-top: -16px;
		padding-bottom: +18px
	}

	.purplenumber,
	.purplenumberFigure,
	.purplenumberH1,
	.purplenumberH2,
	.purplenumberH3,
	.purplenumberH4,
	.purplenumberH5 {
		font-size: 0.8rem;
		font-weight: normal;
		padding-bottom: 0em;
		margin-right: -12px;
		display: inline;
		float: right;
		bottom: -0em
	}

	div.pub-banner {
		display: block;
		margin-bottom: 40px
	}

	h0.mainheading {
		display: block;
		text-align: center
	}

	span.mainheadingtitle {
		display: block;
		margin-top: 24px;
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: normal;
		color: black
	}

	span.mainheadingdetails {
		display: block;
		margin-top: 12px;
		text-align: center;
		line-height: 1.2em;
		font-size: 1.2em;
		font-weight: normal
	}

	span.mainheadingpubnote {
		display: block;
		text-align: center;
		margin-left: 25px;
		padding: 18px;
		margin-right: 25px;
		font-size: 0.9em
	}

	span.originally-underlined {
		font-style: italic
	}

	a.goto-hyperscope {
		font-style: italic
	}

	a.info-hyperscope {
		font-style: italic
	}