.level2 {
													margin-left: 20px;
													padding-left: 0px
												}

												.level3 {
													margin-left: 40px;
													padding-left: 0px
												}

												.level4 {
													margin-left: 60px;
													padding-left: 0px
												}

												.level5 {
													margin-left: 80px;
													padding-left: 0px
												}

												.level6 {
													margin-left: 100px;
													padding-left: 0px
												}

												h2 {
													margin-left: 20px;
													padding-left: 0px
												}

												h3 {
													margin-left: 40px;
													padding-left: 0px
												}

												h4 {
													margin-left: 60px;
													padding-left: 0px
												}

												h5 {
													margin-left: 80px;
													padding-left: 0px
												}